body {
  font-family: 'Montserrat', sans-serif;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  height: 100vh;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
input,
textarea {
  border: none;
  outline: none;
  background: none;
}

input {
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background: #fff;
  padding: 8px 16px;
  margin-bottom: 32px;
}

button {
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4e75ff;
  color: #fff;
}

input:hover {
  border: 1px solid #000;
  color: #2e2f42;
}

input:active {
  border: 1px solid #4e75ff;
  color: #000;
}

input:disabled {
  border: 1px solid #808080;
  color: #808080;
}

button:hover {
  background-color: #6c8cff;
  color: #fff;
}

button:disabled {
  background: #cfcfcf;
  color: #989898;
}

.container {
  min-width: 496px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

.timer {
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55px;
}

.value {
  font-size: 40px;
  line-height: 1.2;
}

/* #region Snackbar */

.form {
  width: 360px;
}

.input-delay {
  width: 360px;
  margin-top: 8px;
  margin-bottom: 16px;
}

fieldset {
  width: 360px;
  height: 78px;
  box-sizing: border-box;
  border-radius: 4px;
  border: solid 1px #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin-bottom: 24px;
}

.label-state {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-radio {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 20px;
  height: 20px;
  gap: 8px;
  margin: 0;
}

.button-notification {
  width: 360px;
  height: 40px;
}

/* #endregion */

/* #region Tasks to choose */

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin: 80px 0;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin: 50%;
}

.back-link {
  display: flex;
  justify-content: flex-start;
  margin: 24px 0;
}

/* #endregion */
